@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #202020;
}

:root {
    --primary-color: #FF5219;
    --secondary-color: #0060FF;
    --primary-text-color: #000000;
    --text-color: #777777;
    --f-text-color: #D1D8FE;
    --f-bg-color: #202020;
    --border-radius: 10px;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
}

.logo>img {
    width: 200px;
}

.header__wrapper,
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.nav__item {
    padding-left: 30px;
}

.nav__item--link {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.nav__item--link:hover {
    color: var(--secondary-color);
}

.primary-btn {
    width: fit-content;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    outline: none;
    border: none;
    padding: 18px 25px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: all .4s;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #000000;
}

.primary-btn::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    z-index: -1;
    transition: all .4s;
}

.primary-btn:hover::before {
    background-color: var(--primary-color);
}

.dark__btn {
    margin-left: 30px;
    color: #fff;
    background-color: #000000;
}

.dark__btn::before {
    background-color: var(--primary-color);
}

.dark__btn:hover {
    background-color: var(--primary-color);
}

.dark__btn:hover::before {
    background-color: #000000;
}

/* HERO SECTION */
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    position: relative;
}

.hero__wrapper::before {
    content: '';
    position: absolute;
    left: -800px;
    top: -500px;
    opacity: 0.4;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: rgb(0, 96, 255);
    background: radial-gradient(circle, rgba(0, 96, 255, 1) 0%, rgba(255, 255, 255, 1) 66%);
    z-index: -1;
}

.hero__wrapper::after {
    content: '';
    position: absolute;
    right: 0px;
    top: -500px;
    opacity: 0.4;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background: rgb(255, 82, 25);
    background: radial-gradient(circle, rgba(255, 82, 25, 1) 0%, rgba(255, 255, 255, 1) 58%);
    z-index: -2;
}

.banner__img {
    max-width: 620px;
    width: 100%;
}

.banner__img>img {
    width: 100%;
}

.hero__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.hero__text>img:nth-child(1) {
    width: 110px;
    position: absolute;
    top: -70px;
    left: -70px;
}

.hero__text>img:nth-child(2) {
    width: 60px;
    position: absolute;
    bottom: -30px;
    left: -70px;
}

.hero__text>span {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.hero__text--title {
    font-size: 70px;
    font-weight: 700;
}

.hero__text--title>span {
    font-size: 70px;
    font-weight: 700;
    color: #F5091A;
}


/* Category section */
.category__wrapper {
    padding: 80px 0;
}

.category__wrapper>p {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
}

.category__title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
}

.category__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
}

.category__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: calc(33% - 30px);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    transition: all .4s;
    cursor: pointer;
}

.category__card:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.category__card:hover * {
    color: #fff;
}

.category__card:hover>img {
    filter: brightness(0) invert(1);
}

.category__card h3 {
    padding-bottom: 10px;
}

/* ABOUT SECTION */
.about__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__img {
    max-width: 900px;
    width: 100%;
}

.about__img>img {
    width: 100%;
    min-width: 300px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 150px;
}

.about__text>span {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.about__title {
    font-size: 50px;
}

.about__description {
    font-weight: 500;
    color: var(--text-color);
}

.about__step {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
}

.about__step>p {
    font-size: 16px;
    font-weight: 600;
}

/* Sponsor */
.sponsor__wrapper {
    background-color: #D5DFEF;
    position: relative;
    margin: 100px auto;
    width: calc(100% - 60px);
    border-radius: var(--border-radius);
    padding: 30px;
}

.sponsor__wrapper>span {
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 220px);
    height: 40px;
    border-radius: 30px;
    z-index: -1;
}

.sponsors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/* Courses */
.courses__wrapper {
    padding: 50px 0;
}

.courses__head>span {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.courses__head>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.courses__head>div>h2 {
    font-size: 50px;
}

.courses__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.courses__card {
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: #fff;
}

.courses__img {
    width: 100%;
    position: relative;
}

.courses__img>img {
    display: block;
    width: 100%;
}

.courses__img>span:nth-child(2),
.courses__img>span:nth-child(3) {
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: #fff;
    background-color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 5px;
}

.courses__img>span:nth-child(3) {
    left: 120px;
    background-color: var(--secondary-color);
}

.courses__card--body {
    padding: 25px;
}

.courses__card--body>h3 {
    font-size: 24px;
    transition: all .4s;
    cursor: pointer;
}

.courses__card--body>h3:hover {
    color: var(--primary-color);
}

.courses__card--center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 25px 0;
}

.profile>img {
    border-radius: 50%;
}

.profile>h4 {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.courses__card--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.courses__card--bottom>span {
    color: var(--primary-color);
    font-size: 26px;
    font-weight: 600;
}

.students__counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.students__counter>i {
    background-color: #39cc6a4b;
    padding: 10px;
    border-radius: 50%;
}

.students__counter>span {
    font-optical-sizing: 14px;
    color: var(--text-color);
    font-weight: 500;
}

/* Speaking section */
.speaking__wrapper {
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.speaking__img {
    max-width: 600px;
    position: relative;
}

.speaking__img>img {
    width: 100%;
    border-radius: var(--border-radius);
}

.play__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 100px;
    right: -50px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 18px 30px;
    cursor: pointer;
    transition: all .4s;
}

.play__btn>h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.play__btn>span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    width: 50px;
    height: 50px;
}

.play__btn:hover {
    background-color: var(--f-bg-color);
}

.speaking__text {
    margin-left: 80px;
    width: 60%;
}

.speaking__text>span {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.speaking__text--title {
    font-size: 50px;
    font-weight: 700;
    padding: 30px 0;
}

.speaking__infoes {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.speaking__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: #fff;
    max-width: 700px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.speaking__info>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

.speaking__info:hover {
    border-right: 3px solid var(--primary-color);
}

.speaking__date {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    width: 100px;
    text-align: center;
}

.speaking__date>span {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 600;
}

.speaking__info--head {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.speaking__info--head>span {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
    padding-right: 40px;
}

.speaking__info--head>hr {
    transform: rotate(90deg);
    width: 10px;
}

.speaking__info--title {
    font-size: 30px;
    font-weight: 600;
}

.speaking__info:hover .speaking__info--title {
    color: var(--primary-color);
}


/* PRICE SECTION */
.price__wrapper {
    padding: 100px 0;
}

.price__title {
    text-align: center;
}

.price__title>span {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
    display: inline-block;
}

.price__title>h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.price__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 0;
    gap: 15px;
}

.price__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: var(--border-radius);
}

.price__card--title {
    font-size: 26px;
    font-weight: 700;
}

.price__card--desc {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}

.price__card--price {
    font-size: 14px;
    font-weight: 600;
}

.price__card--price>span {
    font-size: 40px;
    color: var(--primary-color);
}

.price__checked {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.price__checked>span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #0062ff3d;
    border-radius: 50%;
}


/* Mission section */
.mission__bg {
    display: flex;
    justify-content: space-between;
    background-color: var(--f-bg-color);
    overflow: hidden;
}

.mission__wrapper {
    position: relative;
}

.mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mission__text {
    padding: 100px;
}

.mission__text>span {
    font-size: 20px;
    font-weight: 700;
    display: block;
    color: var(--secondary-color);
}

.mission__img {
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    position: absolute;
    right: -100px;
    top: 0;
}

.mission__img>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission__title {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    width: 50%;
    padding: 30px 0;
}

.mission__section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mission__section>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: var(--border-radius);
}

.mission__section:nth-child(1)>span {
    background-color: #2D69F0;
}

.mission__section:nth-child(2)>span {
    background-color: #DD246E;
}

.mission__section:nth-child(3)>span {
    background-color: #8007E6;
}

.mission__section--text {
    width: 50%;
}

.mission__section--text>h3 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
}

.mission__section--text>p {
    font-size: 14px;
    color: #ccc;
}

.mission__text>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* TEAM SECTION */
.team__wrapper {
    margin: 50px 0;
}

.team__title {
    text-align: center;
}

.team__title>h2 {
    font-size: 50px;
    font-weight: 700;
    padding: 10px;
}

.team__title>span {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.team__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-top: 20px;
}

.team__card {
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.team__card:hover {
    background-color: #fff;
}

.team__card--img {
    max-width: 700px;
    position: relative;
}

.team__card--img>img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

.team__card--title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
}

.team__card>p {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    color: var(--primary-color);
}

.team__social {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.team__social>a>i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    min-width: 30px;
    height: 30px;
    border-radius: 5px;
}

.team__card--img:hover .team__social {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        bottom: -20px;
    }

    100% {
        bottom: 20px;
        opacity: 1;
    }
}


/* FEEDBACK */

.feedback__wrapper {
    padding: 50px 0;
}

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.feedback__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 50%;
}

.feedback__text>span {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.feedback__text>p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.feedback__title {
    font-size: 50px;
    font-weight: 800;

}

.feedback__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 40px;
    position: relative;
    border-radius: var(--border-radius);
    width: 50%;
    max-width: 500px;
}

.feedback__profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.quote {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.feedback__profile--img {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 7px;
}

.feedback__profile--img>img {
    display: block;
    border-radius: 5px;
}

/* BLOG */
.blog {
    margin: 50px 0;
}

.blog__title {
    text-align: center;
}

.blog__title>h2 {
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 30px;
}

.blog__title>span {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.blog__cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blog__card {
    width: calc(33% - 40px);
    background-color: #fff;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.blog__card--img {
    width: 100%;
}

.blog__card--img>img {
    display: block;
    width: 100%;
}

.blog__card--body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.blog__card--body>h4 {
    font-size: 20px;
    font-weight: 700;
}

.blog__card--bottom {
    display: flex;
    gap: 20px;
    align-items: center;
}

.blog__card--bottom hr {
    transform: rotate(90deg);
    width: 20px;
}


/* FOOTER */
.now__banner {
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.now__banner>span {
    position: absolute;
    top: 0;
    left: 0;
}

.now__banner>h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
    max-width: 900px;
}

footer {
    position: relative;
    background-color: var(--f-bg-color);
    width: 100%;
}

.now__banner-content {
    position: absolute;
    width: calc(100% - 50px);
    left: 50%;
    bottom: 75%;
    transform: translateX(-50%);
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding-top: 170px;
    padding-bottom: 50px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__contact a,
.footer__contact p {
    color: #D1D9FE;
}

.footer__socail {
    display: flex;
    gap: 20px;
}

.footer__socail>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff1e;
    transition: all .4s;
}

.footer__socail>a:hover {
    background-color: var(--primary-color);
}

.footer__nav li,
.footer__link li {
    padding-top: 15px;
}

.footer__nav a,
.footer__link a {
    color: #D1D9FE;
}

.footer__nav h3,
.footer__link h3 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.subscription {
    max-width: 400px;
}

.subscription>h3 {
    color: #fff;
    font-size: 24px;
}

.footer__input {
    display: flex;
    padding-top: 30px;
}

.footer__input>input {
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.footer__btn {
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all .4s;
}

.footer__btn:hover {
    background-color: var(--secondary-color);
}

.bottom__content {
    background-color: #020828;
    width: 100%;
    padding: 20px;
}

.bottom__content>h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.bottom__content span {
    color: var(--primary-color);
}


/* MENU */
.menu-icon {
    display: none;
}

#menu-toggle {
    opacity: 0;
}

body {
    position: relative;
}

.menu-open {
    overflow: hidden;
    height: 100%;
}

.menu-open::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu-open .menu {
    z-index: 4;
}

.menu-open .menu li {
    margin: 10px 0;
}

.menu-open .menu li:first-child {
    margin-top: 40px;
}

.menu-open .menu li:last-child {
    margin-bottom: 40px;
}

.menu-open .close-menu {
    margin-top: auto;
}

.menu-open #menu-toggle:checked~.menu {
    display: flex;
}

#menu-toggle:checked~.menu-icon {
    position: absolute;
    right: 20px;
    color: #fff;
    z-index: 10;
}

/* Media query */

/* Tablet */
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }

    .menu a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
        z-index: 10;
    }

    #menu-toggle {
        display: none;
        z-index: 5;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #333;
        z-index: 4;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu li:first-child {
        margin-top: 40px;
    }

    .menu li:last-child {
        margin-bottom: 40px;
    }

    .menu a {
        font-size: 24px;
    }

    .close-menu {
        margin-top: auto;
    }

    #menu-toggle:checked~.menu {
        display: flex;
    }

    .menu-toggle>button {
        display: none;
    }

    .banner__img {
        display: none;
    }

    .hero__text--title {
        font-size: 50px;
    }

    .hero__text--title>span {
        font-size: 50px;
    }

    .category__card {
        width: calc(50% - 30px);
    }

    .about__wrapper {
        flex-direction: column;
    }

    .about__img {
        max-width: calc(100% - 200px);
    }

    .about__text {
        width: 100%;
        padding: 0;
    }

    .sponsor__img>img {
        width: 100%;
    }

    .sponsor__wrapper>span {
        width: calc(100% - 100px);
    }

    .sponsor__wrapper {
        margin: 60px auto;
    }

    .courses__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .courses__head>div {
        flex-direction: column;
        align-items: start;
    }

    .team__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .feedback {
        flex-direction: column;
    }

    .feedback__text,
    .feedback__content {
        width: 100%;
        text-align: center;
    }

    .blog__cards {
        flex-direction: column;
        gap: 30px;
    }

    .blog__card {
        width: 100%;
    }

    .blog__card--body>h4 {
        font-size: 26px;
    }

    .now__banner-content {
        display: none;
    }

    .footer {
        margin-top: 0;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 0;
    }

    .footer__socail {
        justify-content: center;
        padding-bottom: 40px;
    }

    .footer__link {
        padding: 40px 0;
    }

    .subscription {
        max-width: 100%;
        display: none;
    }

    .footer__input {
        justify-content: center;
    }

    .mission__img {
        display: none;
    }

    .speaking__wrapper {
        flex-direction: column;
        padding: 0;
    }

    .speaking__text {
        margin-left: 0;
        width: 100%;
        padding-top: 50px;
    }

    .speaking__text--title {
        font-size: 35px;
    }

    .price__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .mission__text {
        padding: 50px 30px;
        width: 100%;
    }

    .mission__title {
        width: 100%;
    }

    .mission__section--text {
        width: 100%;
    }

    .footer__contact {
        padding-top: 40px;
    }

    .speaking__info {
        max-width: 100%;
    }

    .speaking__text>span,
    .speaking__text>h2,
    .mission__text>span,
    .mission__text>h2,
    .about__text>span {
        display: block;
        text-align: center;
    }
}


/* MOBILE */
@media screen and (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    .category__card {
        width: 100%;
    }

    .about__title,
    .courses__head>div>h2,
    .speaking__text--title,
    .mission__title,
    .team__title>h2,
    .feedback__title,
    .blog__title>h2,
    .category__title {
        font-size: 28px;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }

    .courses__head>div {
        text-align: center;
        margin: 0 auto;
    }

    .courses__head>span {
        text-align: center;
        display: block;
    }

    .price__cards,
    .team__cards,
    .courses__cards {
        grid-template-columns: 1fr;
    }

    .play__btn {
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
    }

    .speaking__info {
        padding: 5px;
    }

    .sponsor__wrapper {
        margin: 30px auto;
        width: 100%;
    }
}